<ion-toolbar>
  <h4>Nombre</h4>
  <ion-input [(ngModel)]="newName" placeholder="Escribe tu nombre" fill="outline"></ion-input>

  <h4>Apellido</h4>
  <ion-input [(ngModel)]="newLastName" placeholder="Escribe tu apellido" fill="outline"></ion-input>

  <h4>Edad</h4>
  <ion-input type="number" [(ngModel)]="newAge" placeholder="Escribe tu edad" fill="outline"></ion-input>

  <h4>Género</h4>
  <div>
    <input type="radio" name="gender" [(ngModel)]="newGender" value="Masculino" />
    <label>Masculino</label>

    <input type="radio" name="gender" [(ngModel)]="newGender" value="Femenino" />
    <label>Femenino</label>

    <input type="radio" name="gender" [(ngModel)]="newGender" value="Otro" />
    <label>Otro</label>
  </div>

  <h4>Correo</h4>
  <ion-input type="email" [(ngModel)]="newEmail" placeholder="Escribe tu correo" fill="outline"></ion-input>

  <h4>Teléfono</h4>
  <ion-input [(ngModel)]="newPhone" placeholder="Escribe tu teléfono" fill="outline"></ion-input>

  <h4>Dirección</h4>
  <ion-input [(ngModel)]="newAddress" placeholder="Escribe tu dirección" fill="outline"></ion-input>

  <h4>Cédula</h4>
  <ion-input [(ngModel)]="newCedula" placeholder="Escribe tu cédula" fill="outline"></ion-input>

  <h4>Fecha de Nacimiento</h4>
  <ion-input type="date" [(ngModel)]="newBirthDate" placeholder="Selecciona tu fecha de nacimiento" fill="outline"></ion-input>

  <h4>Carrera</h4>
  <div>
    <input type="radio" name="career" [(ngModel)]="newCareer" value="Tecnología en Desarrollo de Software" />
    <label>Tecnología en Desarrollo de Software</label><br>

    <input type="radio" name="career" [(ngModel)]="newCareer" value="Tecnología en Redes y Telecomunicaciones" />
    <label>Tecnología en Redes y Telecomunicaciones</label><br>

    <input type="radio" name="career" [(ngModel)]="newCareer" value="Tecnología en Electromecánica" />
    <label>Tecnología en Electromecánica</label><br>

    <input type="radio" name="career" [(ngModel)]="newCareer" value="Tecnología en Agua y Saniamiento" />
    <label>Tecnología en Agua y Saniamiento</label><br>

    <input type="radio" name="career" [(ngModel)]="newCareer" value="Tecnología en Mantenimiento Industrial" />
    <label>Tecnología en Mantenimiento Industrial</label><br>

    <input type="radio" name="career" [(ngModel)]="newCareer" value="Tecnología en Gestión Empresarial" />
    <label>Tecnología en Gestión Empresarial</label><br>

    <input type="radio" name="career" [(ngModel)]="newCareer" value="Procesamiento de Alimentos" />
    <label>Procesamiento de Alimentos</label>
  </div>

  <br>

  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" (click)="createForm()">Enviar Formulario</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-toolbar>
